<!--<h1>Edit...</h1>
        <input id= "edit-title" type="text" placeholder="Title...">
        <input id= "edit-description" type="text" placeholder="Description...">
        <input id= "edit-time" type="text" placeholder="Time it begins...">
        <input id="Save button" type="submit" value="Save">
        <div>
            <a href="show.html"> Go Back</a>
            <a href="index.html">Home</a>
        </div> -->
<h2>Edit Todo...</h2>

<form action='/todo/create'>
    <input class="text-input" id="new-todo-description" name= "description" type= "text" placeholder= "Enter Task...">
    <input class="button" id="add-new-todo-button" type= "submit" value= "Add">
    <a href="/todo/index" class="simple-link"> Go Back</a>
</form>