<h2>Add a New Todo...</h2>

<form action='/todo/create'>
    <input class="text-input" id="new-todo-description" name= "description" type= "text" placeholder= "Enter Task...">
    <input class="button" id="add-new-todo-button" type= "submit" value= "Add">
</form>