<form action="/todo/update/<%= @todo.id %>">
    <input class="text-input" id="new-todo-description" name= "description" type= "text" placeholder= "Enter Task...">
    <input class="button" id="add-new-todo-button" type= "submit" value= "Add">
</form>